
:root{
    --color-social-media: #7651dc;
    --color-manage-accounts: #ffffff;
    --color-consistent-schedule: #faeee2;
    --color-schedule-to-social: #d6b3ff;
    --color-analytics: #ff61a6;
    --color-background: #f2f2f2;
    --color-create-post: #ffda7b;
    --color-purple: #7b61ff;
}

@font-face {
  font-family: 'Variable', sans-serif;
  src: url('assets/fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
}
body {
  background-color: var(--color-background);
  font-family: 'Variable', sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  padding: 50px;
  gap: 20px;

}
.purple {
    color: var(--color-purple);
}
.cursiva {
    font-style: italic;
}

p {
  font-size: 0.95rem;
  line-height: 1.4;
}

.highlight {
  color: #fde68a;
}

.subtitle {
  font-size: 0.85rem;
  opacity: 0.9;
}

.italic {
  font-style: italic;
}


.text-center {
  text-align: center;
}
.row{
  display: flex;
}

.card {
  border-radius: 20px;
  padding: 24px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);

}
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 8px;
}
    
.div1 {
    grid-row: span 5 / span 5;
    background-color: var(--color-consistent-schedule);
    margin: 12px;
    position: relative;
}
.div1 h2 {
    font-size: 3rem;
}
.div1 img {
   position: absolute;
   bottom: 110px;
   right: 50px;
}

.div2 {
    grid-row: span 5 / span 5;
    grid-column-start: 1;
    grid-row-start: 6;
    background-color: var(--color-create-post);
    margin: 12px;
    position: relative;
}
.div2 h2 {
    font-size: 3rem;
}
.div2 img {
   position: absolute;
   bottom: 10px;
   right: 25px;
}

.div3 {
    grid-column: span 2 / span 2;
    grid-row: span 4 / span 4;
    grid-column-start: 2;
    grid-row-start: 1;
    background-color: var(--color-social-media);
    margin: 12px;
    color: white;
    position: relative;
}
.div3 h1{
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 12px;
}
.div3 img {
   position: absolute;
   right: 21%;
   bottom: 20%;

}

.div4 {
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 5;
    background-color: var(--color-manage-accounts);
    margin: 12px;
    overflow: hidden;
    position: relative;
}
.div4 h2 {
    font-size: 2.5rem;
    margin-top: 85px;
    position: absolute;
}
.div4 img {
   position: absolute;
}

.div5 {
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 5;
    background-color: var(--color-create-post);
    margin: 12px;
    overflow: hidden;
    position: relative;
    
}
.div5 h2 {
    font-size: 2.5rem;
    position: absolute;
    margin-top: 20px;
}
.div5 img {
   position: absolute;
   bottom: -90px;
}

.div6 {
    grid-row: span 3 / span 3;
    grid-column-start: 2;
    grid-row-start: 8;
    background-color: var(--color-manage-accounts);
    margin: 12px;
    position: relative;
}
.div6 h2 {
    font-size: 4rem;
    padding: 0;
    margin: 0;
}
.div6 p {
    font-size: 1.2rem;
    margin:0;
    padding: 0;
}
.div6 img {
   position: absolute;
   justify-content: end;
}

.div7 {
    grid-column: span 2 / span 2;
    grid-row: span 3 / span 3;
    grid-column-start: 3;
    grid-row-start: 8;
    background-color: var(--color-social-media);
    margin: 12px;
    height: 250px;
}
.div7 h2 {
    font-size: 3rem;
    margin-top: 20px;
    color: white;
    margin-left: 50px;
}
.div8 {
    grid-row: span 7 / span 7;
    grid-column-start: 4;
    grid-row-start: 1;
    background-color: var(--color-schedule-to-social);
    margin: 12px;
    position: relative;
    overflow: hidden;
}
.div8 h2 {
    font-size: 2.5rem;
    margin-top: 20px;
}
.div8 p {
    font-size: 1.4rem;
    margin-top: 420px;
    padding: 0;

}
.div8 img {
   position: absolute;
   bottom: 27%;

}
        